<a href="https://colab.research.google.com/github/ridwaanhall/colab-google/blob/main/kuliah/01_semester/01_algoritma_pemprograman_praktik/bank%20soal%20data%20soal%20buku.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("DataSoal.db")

# query sql untuk membuat tabel
query = '''
CREATE TABLE banksoal(
  Nomor INT NOT NULL,
  Soal TEXT NOT NULL,
  Jawab1 TEXT NOT NULL,
  Jawab2 TEXT NOT NULL,
  Jawab3 TEXT NOT NULL,
  JawabBenar TEXT NOT NULL
)
'''

# menjalankan query
conn.execute(query)

# menutup koneksi
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect("DataSoal.db")

def masuk():
  print('<<<MASUKKAN INPUT DATA BUKU>>>')
  print('Untuk Judul, Pengarang, Penerbit, dan Kategori masukkan input dengan tanda kutip (\'...\')')

  a = int(input("Masukkan nomor soal"))
  b = input("Masukkan soal")
  c = input("Jawaban 1")
  d = input("Jawaban 2 ")
  e = input("Jawaban 3 ")
  f = input("Jawaban benar dari 1,2,3 ")
  query = f'''
  INSERT INTO banksoal(Nomor, Soal, Jawab1, Jawab2, Jawab3, JawabBenar)
  VALUES (?,?,?,?,?,?)
  '''
  vl = (a,b,c,d,e,f)
  # mengkoneksikan
  conn.execute(query,vl)

lagi="Y"
while lagi=="Y" or lagi=="y":
  masuk()
  print()
  lagi=input("Tambah Data lagi [Y/T] : ")
  print('')

conn.commit()
conn.close

In [ ]:
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("DataSoal.db")

# query untuk membaca tabel
query = '''
SELECT Nomor, Soal, Jawab1, Jawab2, Jawab3, JawabBenar FROM banksoal
'''

# menjalankan query
cursor = conn.execute(query)

# iterasi terhadap cursor
for baris in cursor:
  print("Nomor         =",baris[0])
  print("Soal          =",baris[1])
  print("Jawaban 1     =",baris[2])
  print("Jawaban 2     =",baris[3])
  print("Jawaban 3     =",baris[4])
  print("Jawaban Benar =",baris[5])



# tutup koneksi
conn.close()

In [ ]:
# library
import sqlite3
import random as ran
# membuat koneksi ke dalam database
conn = sqlite3.connect("DataSoal.db")

def soal_soal():
  # query untuk membaca tabel
  query = '''
  SELECT Soal, Jawab1, Jawab2, Jawab3, JawabBenar FROM banksoal
  '''

  # menjalankan query
  cursor = conn.execute(query)

  # iterasi terhadap cursor
  nilai = 0
  urut = 0
  for baris in cursor:

    urut = urut+1
    print(urut,".", baris[0])
    print("   A.",baris[1])
    print("   B.",baris[2])
    print("   C.",baris[3])
    jawab = input("   Jawab [A/B/C] : ")
    jwb = ""
    if jawab == "A" or jawab == "a":
      jwb = baris[1]
    elif jawab == "B" or jawab == "b":
      jwb = baris[2]
    elif jawab == "C" or jawab == "c":
      jwb = baris[3]
    print("")
    print("   yang anda jawab :",jwb)
    print("   yang benar      :",baris[4])
    print("")
    if jwb == baris[4]:
      nilai +=1

  print("")
  print("total nilai adalah", nilai)

# tutup koneksi
  conn.close()

soal_soal()