<a href="https://colab.research.google.com/github/ridwaanhall/colab-google/blob/main/kuliah/01_semester/01_algoritma_pemprograman_praktik/GROUP_3_5210411257_RIDWAN_HALIM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GRUP 3 ALGO PRAK VIII
## program sederhana untuk mendata/mengelola buku-buku di perpustakaan
### ANGGOTA GRUP 3
1. 5210411278 FADMI FAHRANI
2. 5210411257 RIDWAN HALIM
3. 5210411274 BAYU ARDIANSYAH

# MEMBUAT TABEL (CREATE)

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("DataPerpustakaan.db")

# query sql untuk membuat tabel
query = '''
CREATE TABLE tabel_perpustakaan(
  ISBN INT NOT NULL,
  Judul TEXT NOT NULL,
  Pengarang TEXT NOT NULL,
  Penerbit TEXT NOT NULL,
  TahunTerbit INT NOT NULL,
  Kategori TEXT NOT NULL,
  Jumlah INT NOT NULL
)
'''

# menjalankan query
conn.execute(query)

# menutup koneksi
conn.close()

# INPUT DATA

In [ ]:
# library
import sqlite3
import os

# membuat koneksi ke dalam database
conn = sqlite3.connect("DataPerpustakaan.db")

# membuat input ke database
def inputData():
  def tabel_perpustakaan():

    query = f'''
    INSERT INTO tabel_perpustakaan(ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah)
    VALUES ({int(a)}, {b}, {c}, {d}, {e}, {f}, {g})
    '''
    return query
  print('<<<MASUKKAN INPUT DATA BUKU>>>')
  print('Untuk Judul, Pengarang, Penerbit, dan Kategori masukkan input dengan tanda kutip (\'...\')')
  a = input("ISBN        : ")
  b = input("Judul       : ")
  c = input("Pengarang   : ")
  d = input("penerbit    : ")
  e = input("TahunTerbit : ")
  f = input("kategori    : ")
  g = input("Jumlah      : ")

  # mengkoneksikan
  conn.execute(tabel_perpustakaan())

lagi="Y"
while lagi=="Y" or lagi=="y":
  os.system('cls')
  inputData()
  print()
  lagi=input("Tambah Data lagi [Y/T] : ")
  print('')

# commit
conn.commit()

# tutup koneksi
conn.close()

# MENAMPILKAN DATA (READ)

## MENAMPILKAN DATA

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("DataPerpustakaan.db")

# query untuk membaca tabel
query = '''
SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan
'''

# menjalankan query
cursor = conn.execute(query)

# melihat data tabel
cuy = cursor.fetchall()
print(cuy)

# tutup koneksi
conn.close()

## MERAPIKAN DATA

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("DataPerpustakaan.db")

# query untuk membaca tabel
query = '''
SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan
'''

# menjalankan query
cursor = conn.execute(query)

# iterasi terhadap cursor
for baris in cursor:
  print("ISBN        =",baris[0])
  print("Judul       =",baris[1])
  print("Pengarang   =",baris[2])
  print("penerbit    =",baris[3])
  print("TahunTerbit =",baris[4])
  print("kategori    =",baris[5])
  print("Jumlah      =",baris[6])
  print()



# tutup koneksi
conn.close()

## MEMILIH DATA UNTUK DITAMPILKAN

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("DataPerpustakaan.db")

# query untuk membaca tabel
def pilihBuku():
  print('<<<PILIH SALAH SATU>>>')
  print('[1] ISBN         [2] Judul')
  print('[3] Pengarang    [4] Penerbit')
  print('[5] Tahun Terbit [6] Kategori')
  print('[7] Jumlah')
  print('')

  pilihan = int(input('Pilih yang Ingin ditampilkan : '))

  if pilihan == 1:

    inputan = int(input("Masukkan ISBN Buku yang ingin ditampilkan : "))
    print('')
    print('<<<DATA BUKU YANG DIPILIH>>>')
    query = f'''
    SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan WHERE ISBN = {inputan}
    '''

    # menjalankan query
    cursor = conn.execute(query)

    # iterasi terhadap cursor
    for baris in cursor:
      print("ISBN        =",baris[0])
      print("Judul       =",baris[1])
      print("Pengarang   =",baris[2])
      print("penerbit    =",baris[3])
      print("TahunTerbit =",baris[4])
      print("kategori    =",baris[5])
      print("Jumlah      =",baris[6])
      print()

  elif pilihan == 2:
    inputan2 = input("Masukkan judul yang ingin ditampilkan : ")
    print('')
    print('<<<DATA BUKU YANG DIPILIH>>>')
    query2 = f'''
    SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan WHERE Judul = {inputan2}
    '''

    # menjalankan query
    cursor = conn.execute(query2)

    # iterasi terhadap cursor
    for baris in cursor:
      print("ISBN        =",baris[0])
      print("Judul       =",baris[1])
      print("Pengarang   =",baris[2])
      print("penerbit    =",baris[3])
      print("TahunTerbit =",baris[4])
      print("kategori    =",baris[5])
      print("Jumlah      =",baris[6])
      print()

  elif pilihan == 3:
    inputan3 = input("Masukkan Pengarang yang ingin ditampilkan : ")
    print('')
    print('<<<DATA BUKU YANG DIPILIH>>>')
    query3 = f'''
    SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan WHERE Pengarang = {inputan3}
    '''

    # menjalankan query
    cursor = conn.execute(query3)

    # iterasi terhadap cursor
    for baris in cursor:
      print("ISBN        =",baris[0])
      print("Judul       =",baris[1])
      print("Pengarang   =",baris[2])
      print("penerbit    =",baris[3])
      print("TahunTerbit =",baris[4])
      print("kategori    =",baris[5])
      print("Jumlah      =",baris[6])
      print()

  elif pilihan == 4:
    inputan4 = input("Masukkan Penerbit yang ingin ditampilkan : ")
    print('')
    print('<<<DATA BUKU YANG DIPILIH>>>')
    query4 = f'''
    SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan WHERE Penerbit = {inputan4}
    '''

    # menjalankan query
    cursor = conn.execute(query4)

    # iterasi terhadap cursor
    for baris in cursor:
      print("ISBN        =",baris[0])
      print("Judul       =",baris[1])
      print("Pengarang   =",baris[2])
      print("penerbit    =",baris[3])
      print("TahunTerbit =",baris[4])
      print("kategori    =",baris[5])
      print("Jumlah      =",baris[6])
      print()

  elif pilihan == 5:
    inputan5 = int(input("Masukkan Tahun Terbit yang ingin ditampilkan : "))
    print('')
    print('<<<DATA BUKU YANG DIPILIH>>>')
    query5 = f'''
    SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan WHERE TahunTerbit = {inputan5}
    '''

    # menjalankan query
    cursor = conn.execute(query5)

    # iterasi terhadap cursor
    for baris in cursor:
      print("ISBN        =",baris[0])
      print("Judul       =",baris[1])
      print("Pengarang   =",baris[2])
      print("penerbit    =",baris[3])
      print("TahunTerbit =",baris[4])
      print("kategori    =",baris[5])
      print("Jumlah      =",baris[6])
      print()

  elif pilihan == 6:
    inputan6 = input("Masukkan Kategori yang ingin ditampilkan : ")
    print('')
    print('<<<DATA BUKU YANG DIPILIH>>>')
    query6 = f'''
    SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan WHERE Kategori = {inputan6}
    '''

    # menjalankan query
    cursor = conn.execute(query6)

    # iterasi terhadap cursor
    for baris in cursor:
      print("ISBN        =",baris[0])
      print("Judul       =",baris[1])
      print("Pengarang   =",baris[2])
      print("penerbit    =",baris[3])
      print("TahunTerbit =",baris[4])
      print("kategori    =",baris[5])
      print("Jumlah      =",baris[6])
      print()



  elif pilihan == 7:
    inputan7 = input("Masukkan Jumlah yang ingin ditampilkan : ")
    print('')
    print('<<<DATA BUKU YANG DIPILIH>>>')
    query7 = f'''
    SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan WHERE Jumlah = {inputan7}
    '''

    # menjalankan query
    cursor = conn.execute(query7)

    # iterasi terhadap cursor
    for baris in cursor:
      print("ISBN        =",baris[0])
      print("Judul       =",baris[1])
      print("Pengarang   =",baris[2])
      print("penerbit    =",baris[3])
      print("TahunTerbit =",baris[4])
      print("kategori    =",baris[5])
      print("Jumlah      =",baris[6])
      print()

lagi="Y"
while lagi=="Y" or lagi=="y":
  os.system('cls')
  pilihBuku()
  lagi=input("Tampil Pencarian Buku lain [Y/T] : ")
  print('')


# tutup koneksi
conn.close()

# MEMPERBAHARUI DATA (UPDATE)

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("DataPerpustakaan.db")

# query untuk membaca tabel

def updateBuku():
  isbnn = int(input("Masukkan ISBN Buku yang ingin diupdate : "))
  print('<<<DATA YANG AKAN DI UPDATE>>>')
  query = f'''
  SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan WHERE ISBN = {isbnn}
  '''

  # jalankan
  cursor = conn.execute(query)
  conn.commit()

  # iterasi terhadap cursor
  for baris in cursor:
    print("ISBN        =",baris[0])
    print("Judul       =",baris[1])
    print("Pengarang   =",baris[2])
    print("penerbit    =",baris[3])
    print("TahunTerbit =",baris[4])
    print("kategori    =",baris[5])
    print("Jumlah      =",baris[6])
    print()
    # menjalankan query
    cursor = conn.execute(query)

  # update Judul baru
  print('<<<MENG-UPDATE BUKU>>>')
  print('Untuk Judul, Pengarang, Penerbit, dan Kategori masukkan input dengan tanda kutip (\'...\')')
  setJudul       =    input('Masukkan Judul Baru        : ')
  query = f'''
  UPDATE tabel_perpustakaan SET Judul = {setJudul} WHERE ISBN = {isbnn}
  '''
  # jalankan
  conn.execute(query)
  conn.commit()

  # update Pengarang
  setPengarang   =    input('Masukkan Pengarang Baru    : ')
  query = f'''
  UPDATE tabel_perpustakaan SET Pengarang = {setPengarang} WHERE ISBN = {isbnn}
  '''
  # jalankan
  conn.execute(query)
  conn.commit()



  # update Penerbit baru
  setPenerbit    =    input('Masukkan Penerbit Baru     : ')
  query = f'''
  UPDATE tabel_perpustakaan SET Penerbit = {setPenerbit} WHERE ISBN = {isbnn}
  '''
  # jalankan
  conn.execute(query)
  conn.commit()

  # update tahun terbit
  setTahunTerbit = int(input('masukkan Tahun Terbit Baru : '))
  query = f'''
  UPDATE tabel_perpustakaan SET TahunTerbit = {setTahunTerbit} WHERE ISBN = {isbnn}
  '''
  # jalankan
  conn.execute(query)
  conn.commit()

  # update Kategori Baru
  setKategori    =    input('Masukkan Kategori Baru     : ')
  query = f'''
  UPDATE tabel_perpustakaan SET Kategori = {setKategori} WHERE ISBN = {isbnn}
  '''
  # jalankan
  conn.execute(query)
  conn.commit()

    # update tahun terbit
  setJumlah      = int(input('Masukkan Jumlah Baru       : '))
  query = f'''
  UPDATE tabel_perpustakaan SET Jumlah = {setJumlah} WHERE ISBN = {isbnn}
  '''

  # menjalankan query
  cursor = conn.execute(query)
  conn.commit()

  query = f'''
  SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan WHERE ISBN = {isbnn}
  '''
  cursor=conn.execute(query)
  # iterasi terhadap cursor
  for baris in cursor:
    print('')
    print('<<<BERHASIL DI UPDATE>>>')
    print("ISBN        =",baris[0])
    print("Judul       =",baris[1])
    print("Pengarang   =",baris[2])
    print("penerbit    =",baris[3])
    print("TahunTerbit =",baris[4])
    print("kategori    =",baris[5])
    print("Jumlah      =",baris[6])


lagi="Y"
while lagi=="Y" or lagi=="y":
  os.system('cls')
  updateBuku()
  print()
  lagi=input("Update Buku lain [Y/T] : ")
  print()

# tutup koneksi
conn.close()

# MENGHAPUS DATA (DELETE)

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("DataPerpustakaan.db")

# query untuk membaca tabel
def deleteBuku():
  hapus = int(input("Masukkan ISBN Buku yang ingin dihapus : "))
  print('<<<DATA YANG MASIH ADA>>>')
  query = f'''
  DELETE FROM tabel_perpustakaan WHERE ISBN = {hapus}
  '''

  # jalankan
  conn.execute(query)

  # commit
  conn.commit()

  # query baca
  query_baca = '''
  SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan
  '''

  # jalankan
  cursor = conn.execute(query_baca)

  # iterasi terhadap cursor
  for baris in cursor:

    print("ISBN        =",baris[0])
    print("Judul       =",baris[1])
    print("Pengarang   =",baris[2])
    print("penerbit    =",baris[3])
    print("TahunTerbit =",baris[4])
    print("kategori    =",baris[5])
    print("Jumlah      =",baris[6])
    print("")

lagi="Y"
while lagi=="Y" or lagi=="y":
  os.system('cls')
  deleteBuku()
  print()
  print('<<<BERHASIL DIHAPUS>>>')
  print('')
  lagi=input("Hapus Buku lain [Y/T] : ")
  print('')

# tutup koneksi
conn.close()

# FILE CSV

## MENYIMPAN KE DALAM FORMAT CSV

In [ ]:
#Menyimpan ke dalam format CSV
import sqlite3 as sq
import pandas as pd

conn=sq.connect('DataPerpustakaan.db')

query = '''
SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan
'''

cursor=conn.execute(query)
dt=cursor.fetchall()

df=pd.DataFrame(dt,columns=['ISBN','Judul','Pengarang','Penerbit','Tahun Terbit','Kategori','Jumlah'])
df
df.to_csv('data_perpustakaan.csv',index=False)

## MEMBACA FILE CSV

In [ ]:
#Membaca file CSV
import pandas as pd

df=pd.read_csv('data_perpustakaan.csv')
df