<a href="https://colab.research.google.com/github/ridwaanhall/colab-google/blob/main/kuliah/01_semester/01_algoritma_pemprograman_praktik/list%20to%20dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#JUMLAH MAHASISWA
LIST = int(input('masukkan banyaknya Mahasiswa : '))


print("")
#LOOP
arr1 =[]
for i in range(LIST):
    NIM = int(input('masukkan NIM : '))
    arr1.append(NIM)

arr2 = []
for i in range(LIST):
    NAMA = input('masukkan NAMA : ')
    arr2.append(NAMA)

arr3 = []
for i in range(LIST):
    ASALKOT = input('masukkan ASAL KOTA : ')
    arr3.append(ASALKOT)

arr4 = []
for i in range(LIST):
    TINGGIBDN = int(input('masukkan TINGGI BADAN : '))
    arr4.append(TINGGIBDN)

arr5 = []
for i in range(LIST):
    BERATBDN = int(input('masukkan BERAT BADAN : '))
    arr5.append(BERATBDN)

print("")
#MENGUBAH LIST MENJADI DATAFRAME
import pandas
l1 = print('l1 =',arr1)
l2 = print('l2 =',arr2)
l3 = print('l3 =',arr3)
l4 = print('l4 =',arr4)
l5 = print('l5 =',arr5)
DATA = zip(arr1,arr2,arr3,arr4,arr5)
df = pandas.DataFrame(DATA,columns=["NIM","NAMA"," ASAL KOTA","TINGGI BADAN","BERAT BADAN"])

print("")
#PRINT
print(df)