<a href="https://colab.research.google.com/github/ridwaanhall/colab-google/blob/main/kuliah/01_semester/01_algoritma_pemprograman_praktik/PERTEMUAN_KE_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Database menggunakan SQLite
library sqlite3
Praktek

CRUD (create read update delete)

##Membuat tabel

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query sql untuk membuat tabel
# NAMA KOLOM NYA : ID, TIPE DATA
#VARCHAR
query = '''
CREATE TABLE tbl_makanan(
  id INT NOT NULL,
  nama TEXT NOT NULL,
  harga INT
)
'''

# menjalankan/mengirim query
conn.execute(query)

# menutup koneksi
conn.close()

## Memasukkan data (CREATE)

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk memasukkan data
query = '''
INSERT INTO tbl_makanan(id,nama,harga)
VALUES (1,'Roti Bakar',15000)
'''

# Menjalankan query tanpa mengubah didalamnya
conn.execute(query)

query = '''
INSERT INTO tbl_makanan(id,nama,harga)
VALUES (2,'Pisang Goreng',10000)
'''
# Menjalankan query tanpa mengubah didalamnya
conn.execute(query)

query = '''
INSERT INTO tbl_makanan(id,nama)
VALUES (3,'Cilok',)
'''
# Menjalankan query tanpa mengubah didalamnya
conn.execute(query)

# commit
#konfirmasi dari kita unutk setuju melakukan perubahan
conn.commit()

# tutup koneksi
conn.close()

## Membaca tabel (READ)

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
SELECT id,nama,harga FROM tbl_makanan
'''

# Menjalankan query
conn.execute(query)

# melihat data tabel
print(cursor.fetchall())

# tutup koneksi
conn.close()

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
SELECT id,nama,harga FROM tbl_makanan
'''

# menjalankan query
cursor = conn.execute(query)

# iterasi terhadap curosr
for baris in cursor:
  print("id = ", baris[0)
  print("nama = ", baris[1)
  print("harga = ", baris[2)
  print()

# tutup koneksi
conn.close()

# tutup koneksi
conn.close()

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
SELECT id,nama,harga FROM tbl_makanan WHERE id=2
'''

# menjalankan query
cursor = conn.execute(query)

# iterasi terhadap curosr
for baris in cursor:
  print("id = ", baris[0)
  print("nama = ", baris[1)
  print("harga = ", baris[2)
  print()

# tutup koneksi
conn.close()

## Mengubah data (UPDATE)

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
UPDATE tbl_makanan SET harga = 5000 WHERE id = 3
'''

# jalankan
conn.execute(query)

# commit
conn.commit()

#################################################
#menampilkan

# query baca
query_baca = '''
SELECT id,nama,harga FROM tbl_makanan
'''

# Jalankan
conn.execute(query_baca)

# iterasi terhadap curosr
for baris in cursor:
  print("id = ", baris[0)
  print("nama = ", baris[1)
  print("harga = ", baris[2)
  print()

# tutup koneksi
conn.close()

## Menghapus data (DELETE)

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk menghapus
query = '''
DELETE FROM tbl_makanan WHERE id = 2
'''

# jalankan
conn.execute(query)

# commit
conn.commit()

#####################################################################
# query baca
query_baca = '''
SELECT id,nama,harga FROM tbl_makanan
'''

# Jalankan
conn.execute(query_baca)

# iterasi terhadap curosr
for baris in cursor:
  print("id = ", baris[0)
  print("nama = ", baris[1)
  print("harga = ", baris[2)
  print()

# tutup koneksi
conn.close()

Inti dari operasi CRUD python sqlite:

1. Buka koneksi ke database
2 . buat query
3. jalankan query
4. commit (untuk creat, update, delete)
5. ambil data (untuk read)
6. butuh koneksi

# Tugas Latihan

buat database sqlite yang berisi data mahasiswa (NIM, Nama, Alamat,Nilai,dll). aplikasikan CRUD ke dalamnya.