<a href="https://colab.research.google.com/github/ridwaanhall/colab-google/blob/main/kuliah/01_semester/01_algoritma_pemprograman_praktik/sqlite3%20perpustakaan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query sql untuk membuat tabel
query = '''
CREATE TABLE tabel_perpustakaan(
  ISBN INT NOT NULL,
  Judul TEXT NOT NULL,
  Pengarang TEXT NOT NULL,
  Penerbit TEXT NOT NULL,
  TahunTerbit INT NOT NULL,
  Kategori TEXT NOT NULL,
  Jumlah INT NOT NULL
)
'''

# menjalankan query
conn.execute(query)

# menutup koneksi
conn.close()

In [ ]:
# library
import sqlite3
import os
import pandas as pd
# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

def inputData():

  ISBN       =[]
  JUDUL      =[]
  PENGARANG  =[]
  PENERBIT   =[]
  THN_TERBIT =[]
  KATEGORI   =[]
  JUMLAH     =[]

  a = input("ISBN        : ")
  ISBN.appened(a)
  b = input("Judul       : ")
  JUDUL.appened(b)
  c = input("Pengarang   : ")
  PENGARANG.appened(c)
  d = input("penerbit    : ")
  PENERBIT.appened(d)
  e = input("TahunTerbit : ")
  THN_TERBIT.appened(e)
  f = input("kategori    : ")
  KATEGORI.appened(f)
  g = input("Jumlah      : ")
  JUMLAH.appened(g)

  conn.execute(inputData())

lagi="Y"
while lagi=="Y" or lagi=="y":
  os.system('cls')
  inputData()
  print()
  lagi=input("Tambah Data lagi [Y/T] : ")

data = {'ISBN' : ISBN,'Judul' : JUDUL,'Pengarang' : PENGARANG,'Penerbit' : PENERBIT,'Tahun Terbit' : THN_TERBIT,'Jumlah' : JUMLAH}

df=pd.DataFrame(data)
df

df.to_csv("tugas kelompok.csv",index=False)

# singkatnya
# conn.execute("INSERT INTO tbl_makanan(id,nama) VALUES (3,'Cilok');")

# commit
conn.commit()

# tutup koneksi
conn.close()

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan
'''

# menjalankan query
cursor = conn.execute(query)

# melihat data tabel
print(cursor.fetchall())

# tutup koneksi
conn.close()

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan
'''

# menjalankan query
cursor = conn.execute(query)

# iterasi terhadap cursor
for baris in cursor:
  print("ISBN        =",baris[0])
  print("Judul       =",baris[1])
  print("Pengarang   =",baris[2])
  print("penerbit    =",baris[3])
  print("TahunTerbit =",baris[4])
  print("kategori    =",baris[5])
  print("Jumlah      =",baris[4])
  print()



# tutup koneksi
conn.close()