<a href="https://colab.research.google.com/github/ridwaanhall/colab-google/blob/main/kuliah/01_semester/01_algoritma_pemprograman_praktik/sqlite3%20CRUD%20perpustakaan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# membuat tabel

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query sql untuk membuat tabel
query = '''
CREATE TABLE tabel_perpustakaan(
  ISBN INT NOT NULL,
  Judul TEXT NOT NULL,
  Pengarang TEXT NOT NULL,
  Penerbit TEXT NOT NULL,
  TahunTerbit INT NOT NULL,
  Kategori TEXT NOT NULL,
  Jumlah INT NOT NULL
)
'''

# menjalankan query
conn.execute(query)

# menutup koneksi
conn.close()

#membuat input

In [ ]:
# library
import sqlite3
import os
# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

def inputData():
  def tabel_perpustakaan():
    query = f'''
    INSERT INTO tabel_perpustakaan(ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah)
    VALUES ({int(a)}, {b}, {c}, {d}, {e}, {f}, {g})
    '''
    return query

  a = input("ISBN        : ")
  b = input("Judul       : ")
  c = input("Pengarang   : ")
  d = input("penerbit    : ")
  e = input("TahunTerbit : ")
  f = input("kategori    : ")
  g = input("Jumlah      : ")

  conn.execute(tabel_perpustakaan())
lagi="Y"
while lagi=="Y" or lagi=="y":
  os.system('cls')
  inputData()
  print()
  lagi=input("Tambah Data lagi [Y/T] : ")

# singkatnya
# conn.execute("INSERT INTO tbl_makanan(id,nama) VALUES (3,'Cilok');")

# commit
conn.commit()

# tutup koneksi
conn.close()

# membaca

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan
'''

# menjalankan query
cursor = conn.execute(query)

# melihat data tabel
cuy = cursor.fetchall()
print(cuy)
# tutup koneksi
conn.close()

#merapikan

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan
'''

# menjalankan query
cursor = conn.execute(query)

# iterasi terhadap cursor
for baris in cursor:
  print("ISBN        =",baris[0])
  print("Judul       =",baris[1])
  print("Pengarang   =",baris[2])
  print("penerbit    =",baris[3])
  print("TahunTerbit =",baris[4])
  print("kategori    =",baris[5])
  print("Jumlah      =",baris[4])
  print()



# tutup koneksi
conn.close()

# mengambil salah satu

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel

query = '''
SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan WHERE ISBN = 2
'''

# menjalankan query
cursor = conn.execute(query)

# iterasi terhadap cursor
for baris in cursor:
  print("ISBN        =",baris[0])
  print("Judul       =",baris[1])
  print("Pengarang   =",baris[2])
  print("penerbit    =",baris[3])
  print("TahunTerbit =",baris[4])
  print("kategori    =",baris[5])
  print("Jumlah      =",baris[4])
  print()



# tutup koneksi
conn.close()

# update

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel

query = '''
UPDATE tabel_perpustakaan SET TahunTerbit = 2025 WHERE ISBN = 2
'''

# jalankan
conn.execute(query)

# commit
conn.commit()

################################################

# query baca
query_baca = '''
SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan
'''

# jalankan
cursor = conn.execute(query_baca)

# iterasi terhadap cursor
for baris in cursor:
  print("ISBN        =",baris[0])
  print("Judul       =",baris[1])
  print("Pengarang   =",baris[2])
  print("penerbit    =",baris[3])
  print("TahunTerbit =",baris[4])
  print("kategori    =",baris[5])
  print("Jumlah      =",baris[6])
  print()



# tutup koneksi
conn.close()

# hapus

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel

query = '''
DELETE FROM tabel_perpustakaan WHERE ISBN = 2
'''

# jalankan
conn.execute(query)

# commit
conn.commit()

################################################

# query baca
query_baca = '''
SELECT ISBN, Judul, Pengarang, Penerbit, TahunTerbit, Kategori, Jumlah FROM tabel_perpustakaan
'''

# jalankan
cursor = conn.execute(query_baca)

# iterasi terhadap cursor
for baris in cursor:
  print("ISBN        =",baris[0])
  print("Judul       =",baris[1])
  print("Pengarang   =",baris[2])
  print("penerbit    =",baris[3])
  print("TahunTerbit =",baris[4])
  print("kategori    =",baris[5])
  print("Jumlah      =",baris[6])
  print()



# tutup koneksi
conn.close()