<a href="https://colab.research.google.com/github/ridwaanhall/colab-google/blob/main/kuliah/01_semester/01_algoritma_pemprograman_praktik/sqlite3_tabel_makanan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query sql untuk membuat tabel
query = '''
CREATE TABLE tbl_makanan(
  id INT NOT NULL,
  nama TEXT NOT NULL,
  harga INT
)
'''

# menjalankan query
conn.execute(query)

# menutup koneksi
conn.close()

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk memasukkan data
query = '''
INSERT INTO tbl_makanan(id,nama,harga)
VALUES (1,'Roti Bakar',15000);
'''
# Menjalankan query
conn.execute(query)

# query untuk memasukkan data
query = '''
INSERT INTO tbl_makanan(id,nama,harga)
VALUES (2,'Pisang Goreng',10000);
'''
# Menjalankan query
conn.execute(query)

# query untuk memasukkan data
query = '''
INSERT INTO tbl_makanan(id,nama)
VALUES (3,'Cilok');
'''
# Menjalankan query
conn.execute(query)



# singkatnya
# conn.execute("INSERT INTO tbl_makanan(id,nama) VALUES (3,'Cilok');")



# commit
conn.commit()

# tutup koneksi
conn.close()

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
SELECT id,nama,harga FROM tbl_makanan
'''

# menjalankan query
cursor = conn.execute(query)

# melihat data tabel
print(cursor.fetchall())

# tutup koneksi
conn.close()

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
SELECT id,nama,harga FROM tbl_makanan
'''

# menjalankan query
cursor = conn.execute(query)

# iterasi terhadap cursor
for baris in cursor:
  print("id = ",baris[0])
  print("nama = ",baris[1])
  print("harga = ",baris[2])
  print()

# tutup koneksi
conn.close()

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
SELECT id,nama,harga FROM tbl_makanan WHERE id=2
'''

# menjalankan query
cursor = conn.execute(query)

# iterasi terhadap cursor
for baris in cursor:
  print("id = ",baris[0])
  print("nama = ",baris[1])
  print("harga = ",baris[2])
  print()

# tutup koneksi
conn.close()

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk membaca tabel
query = '''
UPDATE tbl_makanan SET harga = 5000 WHERE id = 3
'''

# jalankan
conn.execute(query)

# commit
conn.commit()

################################################

# query baca
query_baca = '''
SELECT id,nama,harga FROM tbl_makanan
'''

# jalankan
cursor = conn.execute(query_baca)

# iterasi terhadap cursor
for baris in cursor:
  print("id = ",baris[0])
  print("nama = ",baris[1])
  print("harga = ",baris[2])
  print()

# tutup koneksi
conn.close()

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("test.db")

# query untuk menghapus
query = '''
DELETE FROM tbl_makanan WHERE id=2
'''

# jalankan
conn.execute(query)

# commit
conn.commit()

####################################
# query baca
query_baca = '''
SELECT id,nama,harga FROM tbl_makanan
'''

# jalankan
cursor = conn.execute(query_baca)

# iterasi terhadap cursor
for baris in cursor:
  print("id = ",baris[0])
  print("nama = ",baris[1])
  print("harga = ",baris[2])
  print()

# tutup koneksi
conn.close()