<a href="https://colab.research.google.com/github/ridwaanhall/colab-google/blob/main/kuliah/01_semester/01_algoritma_pemprograman_praktik/tugas%20pert%2010%20sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TUGAS

Buatlah sebuah database sqlite yang berisi data mahasiswa (NIM,Nama,Alamat,Nilai,dll). Kemudian aplikasikan CRUD ke dalamnya.

## Membuat tabel

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("data mahasiswa.db")

# query sql untuk membuat tabel
query = '''
CREATE TABLE tbl_datamhs(
  NIM INT NOT NULL,
  Nama TEXT NOT NULL,
  Alamat TEXT NOT NULL,
  Nilai INT NOT NULL,
  Keterangan TEXT
)
'''

# menjalankan query
conn.execute(query)

# menutup koneksi
conn.close()

## Memasukkan data (CREATE)

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("data mahasiswa.db")

## 1 query untuk memasukkan data
query = '''
INSERT INTO tbl_datamhs(NIM,Nama,Alamat,Nilai,Keterangan)
VALUES (1001,'Abdul','Mazarredo Zumarkalea, 68, 48009 Bilbo, Bizkaia, Spain',80,'LULUS');
'''
# Menjalankan query
conn.execute(query)

## 2 query untuk memasukkan data
query = '''
INSERT INTO tbl_datamhs(NIM,Nama,Alamat,Nilai,Keterangan)
VALUES (1002,'Jamal','3205 Sandridge Rd, Ilwaco, WA 98624, United States',20,'TDK LULUS');
'''
# Menjalankan query
conn.execute(query)

## 3 query untuk memasukkan data
query = '''
INSERT INTO tbl_datamhs(NIM,Nama,Alamat,Nilai)
VALUES (1003,'Ucup','Etiler, 1268. Sk. 20 F, 35240 Konak/Ä°zmir, Turkey',100);
'''
# Menjalankan query
conn.execute(query)

# commit
conn.commit()

# tutup koneksi
conn.close()

## Membaca tabel (READ)

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("data mahasiswa.db")

# query untuk membaca tabel
query = '''
SELECT NIM,Nama,Alamat,Nilai,Keterangan FROM tbl_datamhs
'''

# menjalankan query
cursor = conn.execute(query)

# melihat data tabel
print(cursor.fetchall())

# tutup koneksi
conn.close()

In [ ]:
##LITERASI TERHADAP CURSOR

# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("data mahasiswa.db")

# query untuk membaca tabel
query = '''
SELECT NIM,Nama,Alamat,Nilai,Keterangan FROM tbl_datamhs
'''

# menjalankan query
cursor = conn.execute(query)

# iterasi terhadap cursor
for baris in cursor:
  print("NIM        =",baris[0])
  print("Nama       =",baris[1])
  print("Alamat     =",baris[2])
  print("Nilai      =",baris[3])
  print("Keterangan =",baris[4])
  print()

# tutup koneksi
conn.close()

In [ ]:
##MEMILIH QUERY

# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("data mahasiswa.db")

# query untuk membaca tabel
query = '''
SELECT NIM,Nama,Alamat,Nilai,Keterangan FROM tbl_datamhs WHERE NIM = 1003
'''

# menjalankan query
cursor = conn.execute(query)

# iterasi terhadap cursor
for baris in cursor:
  print("NIM        =",baris[0])
  print("Nama       =",baris[1])
  print("Alamat     =",baris[2])
  print("Nilai      =",baris[3])
  print("Keterangan =",baris[4])
  print()

# tutup koneksi
conn.close()

## Mengubah data (UPDATE)

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("data mahasiswa.db")

# query untuk membaca tabel
query = '''
UPDATE tbl_datamhs SET Nilai = 40 WHERE NIM = 1002
'''

# jalankan
conn.execute(query)

# commit
conn.commit()

################################################

# query baca
query_baca = '''
SELECT NIM,Nama,Alamat,Nilai,Keterangan FROM tbl_datamhs
'''

# jalankan
cursor = conn.execute(query_baca)

# iterasi terhadap cursor
for baris in cursor:
  print("NIM        =",baris[0])
  print("Nama       =",baris[1])
  print("Alamat     =",baris[2])
  print("Nilai      =",baris[3])
  print("Keterangan =",baris[4])
  print()

# tutup koneksi
conn.close()

## Menghapus data (DELETE)

In [ ]:
# library
import sqlite3

# membuat koneksi ke dalam database
conn = sqlite3.connect("data mahasiswa.db")

# query untuk menghapus
query = '''
DELETE FROM tbl_datamhs WHERE NIM = 1001
'''

# jalankan
conn.execute(query)

# commit
conn.commit()

####################################

# query baca
query_baca = '''
SELECT NIM,Nama,Alamat,Nilai,Keterangan FROM tbl_datamhs
'''

# jalankan
cursor = conn.execute(query_baca)

# iterasi terhadap cursor
for baris in cursor:
  print("NIM        = ",baris[0])
  print("Nama       = ",baris[1])
  print("Alamat     = ",baris[2])
  print("Nilai      = ",baris[3])
  print("Keterangan = ",baris[4])
  print()

# tutup koneksi
conn.close()